.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-marging-bottom-small {
  margin-bottom: 1.5rem;
}

.u-marging-bottom-medium {
  margin-bottom: 2rem;
}

.u-marging-bottom-big {
  margin-bottom: 2.5rem;
}